<!-- link to the css file -->
<link rel="stylesheet" href="app.css"> 
<center>
    <h1>Get weather info!</h1>
    <!-- action links to the route from where we want to get the info from -->
    <form action="/weather" method="GET">
        <!-- the name tag allows us to give the info that is submitted here so we can use it in the url later -->
        <input type="text" placeholder="search location" name="search">
        <input type="submit">
    </form>
</center>